* {
  box-sizing: border-box;
  font-family: 'Finlandica', sans-serif;
}


@font-face {
  font-family: "GlacierIndifference";
  src: url(fonts/GlacialIndifference-Regular.otf);
}


body {
  margin: 0;
  background: var(--bg);
  background-attachment: fixed;
  height: 2900px;

  /* transition: background-color 0.25s; */
}

:root {
  --bg: white;
  --contrast: black;
  --slight: rgb(220,220,220);
  --main: #0d6efd;
  --bgslight: rgba(255,255,255,0.6);
  --br: 0px;
}

button {
  cursor: pointer;
}

.fullwidth{
  width: 100%;
  text-align: center;
}

.nicegrad {
  font-size: 72px;
  background: var(--bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.node{
  width: 100px;
  height: 50px;
  font-size: 20px;
  border: 4px solid var(--main);
  color: var(--contrast);
  text-align: center;
  background-color: var(--bg);
}

.nodeval{
  width: 100%;
  background: var(--bg);
  color: var(--main);
  border: 0px;
  font-size: 20px;
  text-align: center;
}

.guess{
  width: 75%;
  background: var(--bg);
  color: var(--main);
  border: 3px solid var(--main);
  font-size: 20px;
  text-align: center;
}

.guesstile{
  width: 33%;
  float: right;
}

.check{
  width: 31.25%;
  background: var(--bg);
  color: rgb(176, 52, 7);
  border: 3px solid rgb(176, 52, 7);
  font-size: 20px;
  margin-left: 12.5%;
  float: left;
  margin-top: 15px;
  cursor: pointer;
}

.randompls{
  position: absolute;
  left: 43%;
  top: 0px;
  width: 20%;
  text-align: center;
  background: var(--bg);
  color: var(--contrast);
  border: 2px solid var(--main);
  font-size: 20px;
  cursor: pointer;
}


.nodeadderleft{
  width: 30px;
  font-size: 10px;
  border: 1px solid var(--main);
  color: var(--contrast);
  text-align: center;
  float: left;
  background: var(--bg);
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
}

.nodeadderleft:hover{
  background: var(--main);
  color: var(--bg);
}

.nodeadderright{
  width: 30px;
  font-size: 10px;
  border: 1px solid var(--main);
  color: var(--contrast);
  text-align: center;
  float: right;
  background: var(--bg);
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
}

.nodeadderright:hover{
 background: var(--main);
 color: var(--bg);
}

.deletenode{
  width: 32px;
  font-size: 10px;
  border: 1px solid rgb(176, 27, 7);
  color: var(--contrast);
  text-align: center;
  float: right;
  background: var(--bg);
  cursor: pointer;
}

.deletenode:hover{
  background: rgb(176, 27, 7);
  color: white;
 }

.wrong {
  position: fixed;
  width: 50%;
  left: 25%;
  height: 30%;
  top: 35%;
  background-color: var(--bgslight);
  border-radius: 25px;
  border: 6px solid var(--main);
  text-align: center;
  opacity: 0;
  left: -100%;
  transition: opacity 0.25s;
}

.connector{
  position: absolute;
  border-radius: var(--br);
  border-top: 7px solid var(--contrast);
  border-left: 7px solid var(--contrast);
}

.notif{
  width: 10%;
  left: 45%;
  top: 0px;
  position: fixed;
  height: 33px;
  background: gray;
  border: 3px solid var(--contrast);
}

h1 {
  color: var(--contrast);
}

h2 {
  color: var(--contrast);
}

h3 {
  color: var(--contrast);
}

a {
  color: var(--contrast);
  text-decoration: none;
}


nav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  background-color: rgb(36, 35, 35);
  z-index: 1000;
}

.nav-items{
  margin: 0;
  padding: 0;
}

.navleft {
  position: fixed;
  float: left;
}

.navcenter {
  text-align: center; 
  width: 100%;
}

.navright {
  position: fixed; 
  right: 0%;
  top: 0%;
}

.nav-items li {
  display: inline-block;
}


.larget {
  padding: 0.5rem;
  margin: 0.5rem;
  display: block;
  background-color: rgb(71, 71, 71);
  border-radius: 5px;
  color: white;
  transition: background-color 0.25s;
  cursor: pointer;
}

.larget:hover {
  background-color: #0d6efd;
}

.logo{
  padding: 5px;
  margin: 0px;
  margin-right: 5px;
  margin-top: 3.5px;
  height: 42px;
  border-radius: 10px;
  transition: background-color 0.25s; 
  cursor:pointer
}


.logo:hover{
  background-color: #0d6efd;
}


.headername{
  color:white;
  font-family: GlacierIndifference;
  font-size: 25px;
  padding: 0.63rem;
}

  

.results{
  position: fixed;
  top: 90%;
  height: min-content;
  width: 100%;
  text-align: center;
  background-color: var(--slight);
  border: 7px solid var(--main);
  transition: bottom 0.2s, top 0.2s;
  padding-bottom: 20px;
  z-index: 1000;
}

.results:hover{
  bottom: 0px;
}

.wholenotif{
  opacity: 0;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0,0.5);
  transition: opacity 0.25s;
}

.dot{
  height: 5%;
  aspect-ratio: 1;
  position: absolute;
  background-color: var(--contrast);
  border-radius: 100px;
  top: 50%;
  left: 50%;
}

.largenotif{
  position: fixed;
  display: none;
  width: 50%;
  height: 30%;
  left: 25%;
  top: 66%;
  background-color: var(--slight);
  border-radius: 25px;
  border: 6px solid var(--main);
  text-align: center;
  font-size: 50px;
  color: var(--contrast);
  opacity: 0;
  z-index: 1000;
  transition: opacity 0.25s, display 0s, top 0.25s, background-color 0.25s;
}

.close {
  width: 20%;
  margin-left: 40%;
  background: var(--bg);
  color: var(--contrast);
  border: 5px solid var(--main);
  font-size: 20px;
  cursor: pointer;
}

.exit-modal {
  all: unset;
  cursor: pointer;
  position: absolute;
  color: var(--contrast);
  bottom: 0;
  right: 15px;
  width: 2.5rem;
  font-size: 10px;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  user-select: none;
  font-weight: bold;
}

.clickbuttons {
  position: fixed;
  top: 78%;
  height: 10%;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0);
}

.checkbutton {
  width: 10%;
  height: 33px;
  background: var(--bg);
  color:var(--contrast);
  padding-top: 5px;
  border: 3px solid rgb(176, 27, 7);
  cursor: pointer;
}


.standaloneicon{
  position: fixed;
  left: -100px;
  top: -100px;
  z-index: 1001;
}

/* totally not copied over from w3 lmfao */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--contrast);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--main);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.slide2container {
  position: relative;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 100%;
}

/* slider */

.slider2 {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  margin-left: 0%;
  height: 10px;
  background: var(--contrast);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider2:hover {
  opacity: 1;
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 25px; 
  width: 10px; 
  background: var(--main); 
  cursor: pointer; 
}

.slider2::-moz-range-thumb {
  height: 25px;
  width: 10px; 
  background: var(--main); 
  cursor: pointer; 
}
